##----------------------------------------------
## CircleCI Docker Image Output - overridden from common.stack.templates
##----------------------------------------------
#macro( CircleCI_OutputDockerImageDecl )        
    # CircleCI Java11 image, installs Apache Maven
    # H2 image
    docker:
      - image: circleci/openjdk:11.0
      - image: buildo/h2database
#end##macro( CircleCI_OutputDockerImageDecl )

##----------------------------------------------
## CircleCI EnvVarAssignments - overridden from common.stack.templates
##----------------------------------------------
#macro( CircleCI_EnvVarAssignments )
#end##macro( CircleCI_EnvVarAssignments )


## ------------------------------------------------
## Ports for platform service declaration
## ------------------------------------------------
#macro( DefaultPort )
#set( $port = $aib.getParam("axon-framework.server-port" ) )
$port
#end

#macro( DefaultPorts )
#set( $port = $aib.getParam("axon-framework.server-port" ) )
$port:$port
#end